.category-container-1{
    display: flex;
 //   grid-template-columns: repeat(4, 1fr);
 //   column-gap: 20px;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
    row-gap: 50px ;
}


.title1{
    cursor: pointer;
    margin-bottom: 25px;
    font-size: 38px;
    text-transform: uppercase;
  }
