@import '../../sass/variables.scss';

.logo{
    height: 55px;
    width: 60px;
    background-image: url('../../assets/logo-white.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;

    @media(max-width: 1024px){
      .logo{
        align-self: flex-end;
      }
    }


.logo-text{     
    background-image: linear-gradient(to right,rgba(0,206,209, 0.67) 50%, rgba(64,224,208, 0.5) 100%);
    background-clip: text;  
    color: teal;
    display: inline;
  }
  .color-grey{
    color: rgb(105, 105, 105);
    margin-left: 5px;
  }
}

