.sign-up {
    display: flex;
    flex-direction: column;
    width: 30vw;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 600;

    @media(max-width: 750px){
      margin-top: 25px;
      width: auto;
   }
  }
  