.directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    // background-color: #f7f7f7;
   // padding: 28rem 0 0rem 0;
  //  margin-top: -38vh;
  }
  